body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9797ff;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button{
    width: 40vw;
    height: 20vh;
}